@import "tailwindcss";

@keyframes whip-bounce {
  0% { transform: translateY(0) scale(1, 1); }
  10% { transform: translateY(15%) scale(1.3, 0.7); }
  25% { transform: translateY(-15%) scale(0.9, 1.1); }
  45% { transform: translateY(0) scale(1, 1); }
  100% { transform: translateY(0) scale(1, 1); }
}

@keyframes top-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.text-outline {
  text-shadow:
    -2px -2px 0 #fff, 2px -2px 0 #fff,
    -2px 2px 0 #fff, 2px 2px 0 #fff,
    0px 3px 5px rgba(0, 0, 0, 0.5);
}
